{% comment %}
  Renders a product/article card for search results. 

  Accepts:
  - id: {String} id value (required)
  - items: {Array} array of accordion item objects (required)
  - default_open: {Boolean} Expanded content by default. Default: false (optional)
  - transition_duration: {Number} Duration of opening transition in ms. Default: 400 (optional)
  - icon_type: {plus|caret} Use plus/minus icon or turning caret for expand/collapse. Default: plus (optional)

  Usage:
  {% render 'accordion', id: block.id %}
{% endcomment %}

{%- if items.size > 0 -%}
  <ul class="accordion">
    {%- for item in items -%}
      {%- assign item_id = "{{ id }}-{{ forloop.index }}" -%}
      <li class="border-seaweed-400{% unless forloop.last %} border-b{% endunless %}">
        {% render 'accordion-item',
          id: item_id,
          summary: item.summary,
          content: item.content,
          summary_classes: 'py-3',
          content_classes: 'pb-6 px-4'
        %}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}