{% comment %}
  Renders product grid for collection page

  Accepts:
  - collection: {Object} Collection or Search object (required)
  - products_per_page: {Number} Number of products to display before paginating (required)

  Usage:
  {% render 'collection-product-grid', collection: collection %}
{% endcomment %}

{%- paginate collection.products by products_per_page -%}
  {%- if collection.products.size == 0 -%}
    <div class="collection collection--empty relative" id="product-grid" data-id="{{ collection.id }}">
      <div class="loading-overlay"></div>
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t }}<br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underline" }}
        </h2>
      </div>
    </div>
  {%- else -%}
    <div class="collection relative">
      <div class="loading-overlay"></div>

      <div id="product-grid" data-id="{{ collection.id }}">
        <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-2 gap-y-8 sm:gap-x-4">
          {%- for product in collection.products -%}
            <li>
              {% render 'product-card',
                card_product: product,
                section_id: collection.id,
                show_secondary_image_on_hover: true,
                image_class: 'pt-4',
                button_class: 'flex-col sm:flex-row h-10 py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal tracking-wide sm:tracking-widest'
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endpaginate -%}
