{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - collection: {Object} Collection or Search object (required)
  - id: {String} Section id of parent (required)

  Usage:
  {% render 'collection-product-grid', collection: collection, id: section.id %}
{% endcomment %}

{%- paginate collection.products by section.settings.products_per_page -%}
  {%- if collection.products.size == 0 -%}
    <div class="collection collection--empty relative" id="product-grid" data-id="{{ id }}">
      <div class="loading-overlay"></div>
      <div class="title-wrapper center">
        <h2 class="title title--primary">
          {{ 'sections.collection_template.empty' | t }}<br>
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
        </h2>
      </div>
    </div>
  {%- else -%}
    <div class="collection relative">
      <div class="loading-overlay"></div>

      <div id="product-grid" data-id="{{ id }}">
        <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-3 gap-y-8 sm:gap-x-4">
          {%- for product in collection.products -%}
            <li class="grid__item">
              {% render 'product-card',
                product_card_product: product,
                button_class: 'flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal'
              %}
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    </div>
  {%- endif -%}
{%- endpaginate -%}
