{% comment %}
    Renders the mini cart

    Usage:
    {% render 'mini-cart' %}
{% endcomment %}

<div class="h-screen flex flex-col pt-16">
  <div class="p-6 grow overflow-y-auto">
    {% render 'cart-items' %}
    <cart-note class="cart__note field">
      <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
      <textarea class="text-area text-area--resize-vertical field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
    </cart-note>
  </div>
  <div class="bg-seafoam-200">
    {% render 'cart-footer' %}
  </div>
</div>