{%- if settings.enable_postscript_teaser -%}
  <postscript-teaser
    {% if settings.postscript_popup_id != blank %}
      data-popup-id="{{ settings.postscript_popup_id }}"
    {% endif %}
    style="display:none"
  >
    <button class="{{ settings.postscript_teaser_styles }}">
      {{- settings.postscript_teaser_text -}}
      <span class="absolute -top-3 -right-3 text-xl leading-none bg-white rounded-full w-6 h-6 flex items-center justify-center shadow-md" aria-label="close teaser">×</span>
    </button>
  </postscript-teaser>
{%- endif -%}