{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - product: {Object} Product Liquid object
    - classes: {Object} Tailwind CSS classes
    - percent_discount: {Boolean} Show % off instead of $ off in savings badge (optional)

    Usage:
    {% render 'product-badge', product: product %}
{% endcomment %}
{%- liquid
  assign set_products = collections['skincare-sets-1'].products | map: 'handle'
  assign badge_text = ''
  assign badge_class = 'badge absolute top-1 right-1 mb-1 whitespace-nowrap overflow-hidden'

  if product.available == false
    assign badge_text = 'Out of Stock'
  elsif product.metafields.badge.text != blank
    assign badge_text = product.metafields.badge.text
  elsif set_products contains product.handle
    assign discount_amount = product.compare_at_price | minus: product.price
    if percent_discount
      assign original_price_float = product.compare_at_price | times: 1.0
      assign discount_percent = discount_amount | divided_by: original_price_float | times: 100 | ceil
      assign badge_text = "Save " | append: discount_percent | append: '%'
    else
      assign discount_amount_money = discount_amount | money_without_trailing_zeros
      assign badge_text = "Save " | append: discount_amount_money
    endif
  endif

  if product.available == false
    assign badge_class = badge_class | append: ' ' | append: 'bg-wave-200 text-wave-800 text-xs'
  elsif product.metafields.badge.type == blank or product.metafields.badge.type == 'Default'
    assign badge_class = badge_class | append: ' ' | append: 'text-xs'
  elsif product.metafields.badge.type == 'Round'
    assign badge_class = badge_class | append: ' ' | append: 'rounded-full w-12 h-12 lg:w-16 lg:h-16 text-sm uppercase flex items-center justify-center'
  endif

  if product.metafields.badge.classes != blank
    assign badge_class = badge_class | append: ' ' | append: product.metafields.badge.classes
  endif

  if classes != nil
    assign badge_class = badge_class | append: ' ' | append: classes
  endif
-%}

{%- if badge_text != '' and product.handle != 'gift-card' -%}
  <div class="{{ badge_class }}">
    {{ badge_text }}
  </div>
{%- endif -%}
