{% comment %}
    Renders a star rating for product

    Accepts:
    - product: {Object} Product Liquid object
    - classes: {Object} Tailwind CSS classes (optional)
    - compact: {Boolean} Removes "reviews" from count string. Default: false (optional)
    - hide_count: {Boolean} Hides count string. Default: false (optional)

    Usage:
    {% render 'product-rating', product: product %}
{% endcomment %}

{% if product != blank %} 
   {% capture product_data_attribute %}data-oke-reviews-product-id="shopify-{{ product.id }}"{% endcapture %} 
{% endif %} 
<div data-oke-star-rating {{ product_data_attribute }} class="{% if classes != blank %}{{ classes }}{% endif %}{% if compact %} compact{% endif %}{% if hide_count %} hide-count{% endif %}">
  {{- product.metafields.okendo.StarRatingSnippet -}}
</div>
