{% comment %}
    Renders a list of product's price (regular, sale)

    Accepts:
    - product: {Object} Product Liquid object
    - classes: {Object} Tailwind CSS classes
    - percent_discount: {Boolean} Show % off instead of $ off in savings badge (optional)

    Usage:
    {% render 'product-badge', product: product %}
{% endcomment %}
{%- liquid
  assign set_products = collections['skincare-sets-1'].products | map: 'handle'
  assign badge_text = ''
  assign badge_class = ''

  if product.available == false
    assign badge_text = 'Out of Stock'
  elsif product.tags contains 'badge::new'
    assign badge_text = 'New'
  elsif product.tags contains 'badge::editor_pick'
    assign badge_text = "Editor's Pick"
  elsif percent_discount and set_products contains product.handle
    assign discount_amount = product.compare_at_price | minus: product.price
    assign original_price_float = product.compare_at_price | times: 1.0
    assign discount_percent = discount_amount | divided_by: original_price_float | times: 100 | ceil
    assign badge_text = "Save " | append: discount_percent | append: '%'
  else
    for tag in product.tags
      if tag contains 'badge::'
        assign string_array = tag | split: '::'
        assign badge_text = string_array[1]
      endif
    endfor
  endif

  if badge_text contains 'New' or badge_text contains 'Save' or badge_text contains 'save'
    assign star_badge = true
  else
    assign star_badge = false
  endif

  if product.tags contains 'badge::new jumbo size'
    assign badge_class= 'bg-[#F1E1AA]'
  elsif star_badge
    assign badge_class = "badge-round w-12 h-12 lg:w-16 lg:h-16 text-sm uppercase flex flex-col items-center justify-center tracking-tight leading-none text-center"
  elsif product.available == false
    assign badge_class = 'bg-wave-200 text-wave-800'
  endif

  if product.metafields.custom.badge_classes != blank
    assign badge_class = badge_class | append: ' ' | append: product.metafields.custom.badge_classes
  endif
-%}

{%- if badge_text != '' -%}
  {%- if star_badge -%}
  <div class="badge-outline -rotate-6 bg-[blue] w-[3.2rem] h-[3.2rem] flex items-center justify-center absolute top-1 right-1 mb-1 shadow">
  {%- endif -%}
    <div class="badge{% if badge_class != '' %} {{ badge_class }}{% endif %}{% if classes != nil %} {{ classes }}{% endif %} {% if star_badge %}!bg-[#DFFFF8] !text-[blue]{% else %}text-xs capitalize absolute top-1 right-1 mb-1{% endif %}">
      {%- if badge_text contains 'Save' or badge_text contains 'save' -%}<span class="text-xs leading-none mt-0.5">Save</span>{%- endif -%}
      <span>{{ badge_text | replace: 'Best Seller', 'Bestseller' | remove: 'Save' | remove: 'save'}}</span>
    </div>
  {%- if star_badge -%}
  </div>
  {%- endif -%}
{%- endif -%}
