{% assign signup_way_to_earn = shop.metafields.rivo.loy.points_program.ways_to_earn
  | where: 'trigger', 'customer_member_enabled'
  | first
%}
{% assign default_points = signup_way_to_earn.points_amount | times: 1 %}
{% assign points_balance = customer.metafields.custom.rivo.value.points_balance | default: default_points %}
{% if customer %}
  {% comment %} <a href="/pages/loyalty-program" class="rivo-nav-points hidden inline bg-seafoam-200 rounded-sm px-1 py-0.5 text-xs leading-none text-center font-medium max-w-12">
    {% assign adjusted_balance = points_balance | times: 100 %}
    {% assign formatted_balance = adjusted_balance | money_without_currency %}
    {% assign formatted_balance = formatted_balance | replace: ',' , '' | replace: '.00', '' %}
    {{ formatted_balance }} <span class="tracking-tight 2xs:tracking-normal">Points</span>
  </a> {% endcomment %}
  <div class="rivo-points-total inline bg-seafoam-200 rounded-sm px-1 py-0.5 text-xs leading-none text-center font-medium max-w-12">
    <span class="rivo-pretty-points-balance"></span> Points
  </div>

  <script type="text/javascript">
    document.addEventListener("rivo-js-loaded", function () {
      const customer = window.Rivo?.common?.customer;
      if (!customer) return;

      RivoJS.getCustomerDetails().then(function (resp) {
        const points = resp?.pretty_points_tally || "0";
        const el = document.querySelector(".rivo-points-total");
        if (el) el.textContent = points;
      });
    });
  </script>
{% else %}
  <!-- Handle case when customer is not available -->
{% endif %}
<style>
  @media (max-width: 767px) {
      #rivo-nav-points a {
    }
  }
</style>