{% if customer %}
  <a href="/pages/loyalty-program" class="inline bg-seafoam-200 rounded-sm px-1 py-0.5 text-xs leading-none text-center font-medium max-w-12">
    <span class="rivo-points-total rivo-pretty-points-balance"></span> Points
  </a>

  <script type="text/javascript">
    document.addEventListener("rivo-js-loaded", function () {
      const customer = window.Rivo?.common?.customer;
      if (!customer) return;

      RivoJS.getCustomerDetails().then(function (resp) {
        const points = resp?.pretty_points_tally || "0";
        const el = document.querySelector(".rivo-points-total");
        if (el) el.textContent = points;
      });
    });
  </script>
{% else %}
  <!-- Handle case when customer is not available -->
{% endif %}
<style>
  @media (max-width: 767px) {
      #rivo-nav-points a {
    }
  }
</style>