# Ignore minified js files
assets/application.css
assets/customer.min.js
assets/facets.min.js
assets/ingredient-glossary.min.js
assets/main.min.js
assets/password-modal.min.js
assets/share.min.js
assets/slider.js
assets/loop_bundle.js
assets/yotpo-widgets.js
assets/utils-CcuW8BhY.js
AGENTS.md
LICENSE.md
README.md
translation.yml