/* * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

::selection {
  background-color: $color-accent-1-700;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  color: $color-primary-700;
  line-height: 1.2;
}

@mixin h0 {
  font-size: 4.5rem;
  letter-spacing: -1px;
  @include tablet-up {
    font-size: 5rem;
  }
}
@mixin h1 {
  font-size: 3.5rem;
  letter-spacing: -1px;
  @include tablet-up {
    font-size: 4rem;
  }
}
@mixin h2 {
  font-size: 3rem;
  letter-spacing: -1px;
  @include tablet-up {
    font-size: 3.5rem;
  }
}
@mixin h3 {
  font-size: 2.5rem;
  letter-spacing: -0.75px;
  @include tablet-up {
    font-size: 3rem;
  }
}
@mixin h4 {
  font-size: 2rem;
  letter-spacing: -0.5px;
  @include tablet-up {
    font-size: 2.5rem;
  }
}
@mixin h5 {
  font-size: 1.5rem;
  letter-spacing: -0.25px;
  @include tablet-up {
    font-size: 2rem;
  }
}
@mixin h6 {
  font-size: 1.25rem;
  letter-spacing: 0;
  @include tablet-up {
    font-size: 1.5rem;
  }
}
@mixin h7 {
  font-size: 1rem;
  letter-spacing: 0;
  @include tablet-up {
    font-size: 1.125rem;
  }
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
h5 {
  @include h5;
}
h6 {
  @include h6;
}

.h0 {
  @include h0;
}
.h1 {
  @include h1;
}
.h2 {
  @include h2;
}
.h3 {
  @include h3;
}
.h4 {
  @include h4;
}
.h5 {
  @include h5;
}
.h6 {
  @include h6;
}
.h7 {
  @include h7;
}

.font-serif {
  font-family: $font-serif;
}

.font-sans {
  font-family: $font-sans;
}

blockquote {
  font-style: italic;
  color: $color-primary-700;
  border-left: $color-accent-1-700;
  padding-left: 1rem;

  @include tablet-up {
    padding-left: 1.5rem;
  }
}
