/* Main Header Layout */
.header {
  &__heading {
    font-size: 0;
  }

  &__heading-link {
    flex: 1;
    margin: 0;
    line-height: 0;
    text-align: center;

    svg {
      color: $color-primary-700;
      transition: all 0.12s linear;
    }

    &:hover svg {
      color: $color-primary-500;
    }
  }

  &__icon {
    &::after {
      content: none;
    }
  }
}

/* Search */
.header__search {
  display: inline-flex;
}

.no-js .predictive-search {
  display: none;
}

.no-js details[open] > .header__icon--search {
  top: 1rem;
  right: 0.5rem;
}

details[open] {
  & > .search-modal {
    opacity: 1;

    & > .search-modal__content {
      opacity: 1;
      transform: translateY(0);
      animation: animateMenuOpen 0.2s ease;
    }
  }
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 60px;
  color: $color-neutral-400;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='60px'><text x='6' y='15' fill='%23818181' font-size='14' font-family='neuzeit-grotesk, sans-serif' style='text-transform: uppercase; letter-spacing: 0.25px;'>Clear</text></svg>");
}

.search-modal {
  &__content {
    .search__input {
      padding-left: toRem(16);
      padding-right: toRem(44);
      transition: border-color 0.2s ease, box-shadow 0.2s linear;

      &:focus {
        border-color: $color-primary-700;
        box-shadow: $box-shadow-low;
        outline: none;
      }
    }
  }

  &__close-button {
    position: absolute;
    right: 0.3rem;

    @include tablet-up {
      right: 1rem;
    }
    @include desktop-up {
      position: initial;
      margin-left: 0.5rem;
    }
  }
}

/* Header menu drawer */
details:not([open]) > .header__icon--menu .icon-close,
details[open] > .header__icon--menu .icon-hamburger {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.75);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
  visibility: hidden;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
  visibility: visible;
  opacity: 1;
  transform: scale(1.07);
}

.header__inline-menu details[open] > .header__submenu {
  opacity: 1;
  transform: translateY(0);
  animation: animateMenuOpen var(--duration-default) ease;
  z-index: 1;
}

/* Header menu */
.header__active-menu-item {
  transition: text-decoration-thickness 0.2s ease;
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.header__submenu {
  transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;

  .header__submenu {
    background-color: rgba(var(--color-foreground), 0.03);
    padding: 0.5rem 0;
    margin: 0.5rem 0;

    .header__menu-item {
      padding-left: 3rem;
    }
  }

  .header__menu-item {
    padding: 0.95rem 3.5rem 0.95rem 2rem;

    &:after {
      right: 2rem;
    }

    .icon-caret {
      right: 0.8rem;
    }
  }

  .icon-caret {
    right: 2rem;
  }
}

details-disclosure > details {
  position: relative;
}

@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
