<div class="accordion-group">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Accordion group",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "accordion_group_heading"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "html",
          "id": "accordion_question",
          "label": "Question"
        },
        {
          "type": "html",
          "id": "accordion_answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}
