<div class="accordion-group">
  <h1 class="sr-only">
    {{ page.title | escape }}
  </h1>
  {%- for block in section.blocks -%}
    {% render 'accordion',
      id: "Details-{{ section.id }}-{{ block.id }}",
      summary: block.settings.accordion_summary,
      content: block.settings.accordion_content %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Accordion group",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "accordion_group_heading"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "html",
          "id": "accordion_summary",
          "label": "Summary"
        },
        {
          "type": "html",
          "id": "accordion_content",
          "label": "Content"
        }
      ]
    }
  ]
}
{% endschema %}
