<script src="{{ 'bundle-builder.js' | asset_url }}" defer="defer"></script>
<style type="text/css">#gorgias-chat-container #chat-button { bottom: 30px !important; right: 8px !important; }</style>

<h2 class="sr-only">Bundle Builder</h2>
<a class="anchor" id="builder"></a>
<div class="{{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
    <bundle-builder class="flex lg:flex-row-reverse lg:gap-6 lg:items-start">
      <aside class="fixed lg:sticky z-20 inset-x-0 bottom-0 lg:bottom-auto lg:top-32 flex flex-col lg:flex-col-reverse lg:w-1/2 bg-white lg:bg-oey-light lg:rounded-lg border-t border-seaweed-400 lg:border-transparent">
        <div id="ByobBar" class="flex lg:flex-col justify-between lg:justify-center py-2 lg:pt-8 lg:pb-0 px-4 sm:px-6 lg:px-8 lg:text-center">
          <div class="remaining">
            <p class="text-lg lg:text-2xl whitespace-nowrap"><b>0/2</b> products selected</p>
            <p class="hidden lg:block mt-3 leading-5 lg:max-w-sm lg:mx-auto">
              <strong class="system-sans font-medium">←</strong> Add <b>one face</b> and <b>one body</b> product to complete your bundle
            </p>
          </div>
          <b class="total-cost text-lg lg:mt-3 lg:mb-8">$0</b>
          <button class="byob-add-to-cart hidden w-full button button-sm lg:button-md button-primary justify-between px-3 ml-2 lg:ml-0 lg:mb-6 max-w-xs lg:max-w-full">
            <span>Add to bag</span>
            <span class="total-cost">$0</span>
          </button>
        </div>
        <div id="ByobPanel" class="h-0 overflow-hidden lg:h-auto">
          <div class="products container lg:px-8"></div>
        </div>
      </aside>
      <section class="flex flex-col gap-6 lg:w-1/2">
        {%- if section.settings.byob_face_products != blank -%}
          <div class="flex-1 mb-6">
            <div class="text-center mb-4">
              <small class="underline underline-offset-2 uppercase tracking-widest font-medium text-sm mb-2">Step 1</small>
              <h2 class="text-xl tracking-wide">Pick Your <strong>Face</strong> Moisturizer</h2>
            </div>
            <div class="grid grid-cols-3 -mx-2 sm:mx-0">
              {%- for product in section.settings.byob_face_products.products -%}
                {% render 'bundle-card', product: product, name: 'byob-face' %}
              {%- endfor -%}
              <input type="radio" selected name="byob-face" class="sr-only" />
            </div>
          </div>
        {%- endif -%}
        {%- if section.settings.byob_body_products != blank -%}
          <div class="flex-1 mb-6 lg:mb-0">
            <div class="text-center mb-4">
              <small class="underline underline-offset-2 uppercase tracking-widest font-medium text-sm mb-2">Step 2</small>
              <h2 class="text-xl tracking-wide">Pick Your <strong>Body</strong> Moisturizer</h2>
            </div>
            <div class="grid grid-cols-3 -mx-2 sm:mx-0">
              {%- liquid
                for product in section.settings.byob_body_products.products
                  if product.handle == 'undaria-algae-oil'
                    assign uao_variant = product.variants | where: 'title', '5 oz' | first
                    render 'bundle-card', product: product, variant: uao_variant, name: 'byob-body'
                  else
                    render 'bundle-card', product: product, name: 'byob-body'
                  endif
                endfor
              -%}
              <input type="radio" selected name="byob-body" class="sr-only" />
            </div>
          </div>
        {%- endif -%}
        <button class="lg:hidden byob-add-to-cart button button-primary justify-between disabled:bg-seaweed-300 disabled:text-seaweed-400 disabled:border-seaweed-300" disabled>
          <span>Add to bag</span>
          <span class="total-cost">$0</span>
        </button>
      </section>
      <modal-dialog id="ByobModal">
        <div role="dialog" aria-label="Product information" aria-modal="true" tabindex="-1" class="!max-w-2xl max-h-[calc(100vh-3rem)] overflow-y-auto sm:overflow-hidden !px-4 sm:!px-6 !pb-0 sm:!pb-6">
          <button id="ModalClose-" type="button" aria-label="{{ 'accessibility.close' | t }}">
            {%- render 'icon-close', classes: 'w-8 h-8', stroke_width: 1, aria_hidden: true -%}
          </button>
          <div class="content relative flex flex-col sm:flex-row w-full"></div>
        </div>
      </modal-dialog>
    </bundle-builder>
  </div>
</div>

{% schema %}
{
  "name": "Bundle builder",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes"
    },
    {
      "type": "collection",
      "label": "Face product options",
      "id": "byob_face_products"
    },
    {
      "type": "collection",
      "label": "Body product options",
      "id": "byob_body_products"
    }
  ],
  "presets": [
    {
      "name": "Bundle builder"
    }
  ]
}
{% endschema %}
