{%- if recommendations.performed and recommendations.products_count > 0 -%}
  <div class="block max-w-md mx-auto bg-[gainsboro]/25 px-4 pb-4 pt-2 border-4 border-ridge">
    <h3 class="tracking-wide font-medium text-sm mb-1 text-black">You may also like</h3>
    <ul class="grid grid-cols-3 gap-4">
      {%- liquid
        assign cart_ids = cart.items | map: 'product_id'
        assign item_count = 0
      -%}
      {%- for product in recommendations.products -%}
        <script>console.log("product collections", {{ product.collections | json }})</script>
        {%- unless cart_ids contains product.id or item_count >= 3 or product.type == 'Subscription Gift' or product.type == 'Free Gift' or product.type == 'Sample'  -%}
          {%- assign item_count = item_count | plus: 1 -%}
          {%- render 'product-card-mini',
            card_product: product,
            button_class: 'button-secondary px-2 tracking-tight'
            hide_slashed_pricing: true
          -%}
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Cart recommendations"
}
{% endschema %}