<a href="{{ routes.cart_url }}" class="header__icon header__icon--cart cursor-pointer flex w-10 h-10 justify-center items-center ml-1 md:ml-4 -mr-1" id="cart-icon-bubble">
  <span class="hidden">Cart</span>
  <div class="w-8 h-8 bg-seafoam-300 rounded-full flex justify-center items-center">
    <span aria-hidden="true" class="leading-8 font-book text-lg">{{ cart.item_count }}</span>
    <span class="hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
</a>