{%- if recommendations.performed and recommendations.products_count > 0 -%}
  <div class="block max-w-md mx-auto bg-wave-100 p-4 rounded-sm">
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Cart recommendations"
}
{% endschema %}