{%- if recommendations.performed and recommendations.products_count > 0 -%}
  <div class="block max-w-md mx-auto bg-wave-100 p-4 rounded-sm mb-6">
    <h3 class="tracking-wide font-medium text-sm mb-1">You may also like</h3>
    <ul class="grid grid-cols-3 gap-4">
      {%- liquid
        assign cart_ids = cart.items | map: 'product_id'
        assign item_count = 0
      -%}
      {%- for product in recommendations.products -%}
        {%- assign product_collections_handles = product.collections | map: 'handle' -%}
        {%- unless cart_ids contains product.id or item_count >= 3 or product_collections_handles contains 'exclude-from-site' or product_collections_handles contains 'exclude-from-recommendations' -%}
          {%- assign item_count = item_count | plus: 1 -%}
          {%- render 'product-card-mini',
            card_product: product,
            button_class: 'button-secondary'
          -%}
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Cart recommendations"
}
{% endschema %}