{%- if collection.metafields.custom.seo_description != nil -%}
  <div class="container mb-12">
    <div class="mt-10! max-w-3xl mx-auto">
      {%- if collection.metafields.custom.seo_description.value.size > 400 -%}
        <input aria-hidden="true" id="collapsible-seo-{{ section.id }}" class="hidden peer" type="checkbox" />
      {%- endif -%}
      <div class="a:link h2:font-medium h2:mb-2{% if collection.metafields.custom.seo_description.value.size > 400 %} overflow-hidden max-h-18 peer-checked:max-h-[2000px] transition-max-height leading-6{% endif %}">
        {{ collection.metafields.custom.seo_description }}
      </div>
      {%- if collection.metafields.custom.seo_description.value.size > 400 -%}
        <label aria-hidden="true" for="collapsible-seo-{{ section.id }}" class="link mt-1.5 block peer-checked:hidden">Read more</label>
        <label aria-hidden="true" for="collapsible-seo-{{ section.id }}" class="link mt-1.5 hidden peer-checked:block">Read less</label>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "SEO Description",
  "tag": "section",
  "settings": []
}
{% endschema %}
