<div id="IngredientGlossary-{{ section.id }}" class="relative {{ section.settings.wrapper_classes }}">
  <div class="{{ section.settings.container_classes }}">
    {{ shop.metaobjects }}
  </div>
</div>

{% schema %}
  {
    "name": "Ingredient glossary",
    "settings": [
      {
        "type": "textarea",
        "id": "wrapper_classes",
        "label": "Wrapper classes"
      },
      {
        "type": "textarea",
        "id": "container_classes",
        "label": "Container classes"
      }
    ]
  }
{% endschema %}