<div id="IngredientGlossary-{{ section.id }}" class="relative {{ section.settings.wrapper_classes }}">
  <div class="{{ section.settings.container_classes }}">
    <script>{{ shop.metaobjects.ingredient_glossary.glycerine | json }}</script>
  </div>
</div>

{% schema %}
  {
    "name": "Ingredient glossary",
    "tag": "section",
    "settings": [
      {
        "type": "textarea",
        "id": "wrapper_classes",
        "label": "Wrapper classes"
      },
      {
        "type": "textarea",
        "id": "container_classes",
        "label": "Container classes"
      }
    ],
    "presets": [
      {
        "name": "Ingredient glossary"
      }
    ]
  }
{% endschema %}