<div class="template-404 container py-12 text-center">
  <p class="font-bold uppercase tracking-widest mb-2">
    404 - Page Not Found
  </p>
  <h1 class="font-book tracking-wide text-2xl mb-4 leading-tight">
    Looks like something went wrong with that link.
  </h1>
  <a href="/collections/shop" class="button button-tertiary">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
