<div class="product-clinicals hidden {{ section.settings.section_classes }}">
  <div class="container">
    <h3 class="relative z-10 text-xl md:text-2xl tracking-wide font-medium mb-3 md:mb-4">{{ section.settings.header }}</h3>
  </div>
</div>

{% schema %}
{
  "name": "Clinicals",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header",
      "default": "Results You Can Sea"
    }
  ]
}
{% endschema %}
