<div class="{{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
    {%- for product in section.settings.collection.products -%}
      {% render 'product-card',
        product_card_product: product,
        section_id: section.id
        button_class: 'flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal',
        badge_class: 'scale-[0.8] sm:scale-100 origin-top-left',
        subscription: section.settings.is_subscription
      %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Product grid",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes",
      "default": "container"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-2 gap-y-8 sm:gap-x-4"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "is_subscription",
      "label": "Subscription card",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Product grid"
    }
  ]
}
{% endschema %}
