<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<div class="{{ section.settings.section_classes }}">
  <div class="{{ section.settings.container_classes }}">
    {%- for product in section.settings.collection.products -%}
      {% render 'product-card',
        card_product: product,
        section_id: section.id,
        image_class: section.settings.card_image_classes,
        button_class: 'flex-col sm:flex-row py-1 sm:py-2 button-sm sm:button-md leading-none sm:leading-normal md:px-3 xl:px-6',
        subscription: section.settings.is_subscription,
        variant_picker_type: section.settings.variant_picker_type,
        variant_picker_classes: section.settings.variant_picker_classes,
        is_pdp_link: section.settings.is_pdp_link
      %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Product grid",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "section_classes",
      "label": "Section classes",
      "default": "container"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-2 gap-y-8 sm:gap-x-4"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "is_subscription",
      "label": "Subscription card",
      "default": false
    },
    {
      "type": "textarea",
      "id": "card_image_classes",
      "label": "Card image classes"
    },
    {
      "type": "select",
      "id": "variant_picker_type",
      "default": "button",
      "label": "Variant picker type",
      "options": [
        {
          "value": "button",
          "label": "Buttons"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "variant_picker_classes",
      "label": "Variant picker classes"
    },
    {
      "type": "checkbox",
      "id": "is_pdp_link",
      "label": "Link to PDP",
      "info": "Replace ATC button with static button that leads to PDP. For use with products that require input on PDP.",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Product grid"
    }
  ]
}
{% endschema %}
