// palette

// primary
$color-primary-700: #1d4d41;
$color-primary-500: #4d7c72;
$color-primary-400: #9ab5af;
$color-primary-200: #ccdad7;
$color-primary-100: #f2f4f3;

// accent 1
$color-accent-1-700: #bce0c6;
$color-accent-1-500: #e4f1e8;
$color-accent-1-200: #f6fbf7;

// accent 2
$color-accent-2-900: #81e9eb;
$color-accent-2-700: #b2f0f0;
$color-accent-2-500: #c9f4f4;
$color-accent-2-200: #e7fafa;

// accent 3
$color-accent-3-700: #e7c9b5;
$color-accent-3-500: #f3e4da;
$color-accent-3-200: #fdf9f7;

// neutral
$color-neutral-900: #000000;
$color-neutral-700: #404040;
$color-neutral-600: #575757;
$color-neutral-500: #818181;
$color-neutral-400: #808080;
$color-neutral-300: #c0c0c0;
$color-neutral-200: #ddddde;
$color-neutral-100: #f6f6f6;
$color-neutral-0: #ffffff;

// utility
$color-util-error: #d0706a;
$color-util-success: $color-accent-1-700;
$color-util-notification: $color-accent-2-900;
$color-util-disabled: $color-neutral-300;

$header-height: toRem(91);

// text
$color-text-dark: $color-neutral-900;
$color-text-primary: $color-primary-700;
$color-text-medium: #435b56;
$color-text-light: $color-primary-200;

$font-serif: "Canela", serif;
$font-sans: "Circular", sans-serif;

// border radius
$border-radius-xs: toRem(2);
$border-radius-sm: toRem(4);
$border-radius-md: toRem(8);
$border-radius-lg: toRem(16);

// box shadows
$box-shadow-low: rgb(0 0 0 / 12%) 0px 2px 3px;

/* Color custom properties */

:root,
.color-icon-text {
  --color-icon: rgb(var(--color-base-text));
}

.color-icon-accent-1 {
  --color-icon: rgb(var(--color-base-accent-1));
}

.color-icon-accent-2 {
  --color-icon: rgb(var(--color-base-accent-2));
}

.color-icon-outline-button {
  --color-icon: rgb(var(--color-base-outline-button-labels));
}
