div#stamped-main-widget {
  margin: 0;
  letter-spacing: 0.025em;
}
div#stamped-main-widget .stamped-container {
  font-family: "Circular", sans-serif;
  margin-top: 0 !important;
  max-width: 100%;
}
div#stamped-main-widget .summary-overview {
  margin-bottom: 1rem;
}
div.stamped-summary .stamped-summary-text {
  margin-top: 0;
  white-space: nowrap;
}
.stamped-summary .stamped-summary-text-1 {
  font-size: 1.5rem;
}
.stamped-summary .stamped-summary-text-1 strong {
  font-weight: 700;
}
.stamped-summary .stamped-summary-caption-2 {
  width: 100%;
}
.stamped-summary .stamped-starrating.stamped-summary-starrating {
  margin: 0;
}
#stamped-main-widget .stamped-summary-actions-clear,
#stamped-main-widget .stamped-summary-actions-mobile-filter,
#stamped-main-widget .stamped-summary-actions-newquestion,
#stamped-main-widget .stamped-summary-actions-newreview {
  box-shadow: none !important;
  border-color: #a0beb7;
  color: #1d4d41;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 0.125rem;
  line-height: 36px;
}
#stamped-main-widget .stamped-summary-actions-newquestion,
#stamped-main-widget .stamped-summary-actions-newreview {
  width: 100%;
  white-space: nowrap;
}
#stamped-main-widget .stamped-summary-actions-newquestion::before,
#stamped-main-widget .stamped-summary-actions-newreview::before {
  content: " ";
}
#stamped-main-widget .stamped-summary-actions-mobile-filter {
  display: none !important;
}
div#stamped-main-widget .stamped-tab-container,
div#stamped-main-widget .stamped-tab-container ul.stamped-tabs {
  height: auto;
  border: none;
}
#stamped-main-widget .stamped-questions-search-text input.stamped-questions-search-input,
#stamped-main-widget .stamped-reviews-search-text input.stamped-reviews-search-input {
  border-radius: 0.125rem;
  border-color: #a0beb7;
  color: #1d4d41;
  padding-left: 2rem;
  width: 100%;
  height: 42px;
}
#stamped-main-widget .stamped-reviews-filter {
  margin: 0 0 60px;
  background-color: #f1f5f4;
  padding: 0 1rem 1rem;
  position: relative;
}
#stamped-main-widget .stamped-questions-search-text .stamped-fa::before,
#stamped-main-widget .stamped-reviews-search-text .stamped-fa::before {
  color: #1d4d41;
  margin-right: 0;
  margin-left: 2px;
}
#stamped-main-widget #stamped-filter-select,
#stamped-main-widget #stamped-sort-select,
#stamped-main-widget #stamped-sort-select2,
#stamped-main-widget .stamped-filter-select {
  border-radius: 0.125rem;
  border-color: #a0beb7;
  color: #1d4d41;
  height: 42px;
  font-size: 14px;
}
#stamped-main-widget .stamped-sort-select2-wrapper {
  position: absolute;
  bottom: -76px;
  left: 0;
}
#stamped-main-widget #stamped-sort-select2 {
  width: 100%;
}
.stamped-filter-selects .stamped-filter-select {
  width: 100%;
}
.stamped-sort-select2-wrapper {
  width: 100%;
}
div#stamped-main-widget .stamped-container .stamped-reviews-filter-label {
  display: block !important;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 1rem;
}
@media only screen and (max-width: 480px) {
  #stamped-main-widget .stamped-reviews-filter[data-show-filters="true"] .stamped-filters-wrapper {
    display: block;
  }
}
div#stamped-main-widget .stamped-reviews .stamped-review .stamped-review-content {
  margin: 0 !important;
}
div#stamped-main-widget .stamped-reviews .stamped-review-options ul {
  flex-direction: column;
}
div#stamped-main-widget .stamped-reviews .stamped-review-options ul li {
  flex-direction: row;
  margin-bottom: 4px;
}
div#stamped-main-widget .stamped-reviews .stamped-review-options strong,
div#stamped-main-widget .stamped-reviews .stamped-review-options li span {
  min-width: 0;
  margin-right: 4px;
  font-size: 14px;
  border-bottom: none;
}
div#stamped-main-widget .stamped-review {
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-color: #d4e1de;
}
div#stamped-main-widget .stamped-review-header-title {
  margin-top: 0;
  margin-bottom: 4px;
}
div#stamped-main-widget .stamped-container .stamped-review-product {
  display: none !important;
}
div#stamped-main-widget .stamped-review-footer {
  margin-top: 0;
}
div#stamped-main-widget .stamped-review-footer #stamped-review-vote,
div#stamped-main-widget .stamped-review-footer .stamped-review-vote {
  float: none !important;
}
div#stamped-main-widget .stamped-fa-thumbs-down,
div#stamped-main-widget .stamped-fa-thumbs-up {
  color: #1d4d41;
}
@media only screen and (min-width: 475px) {
  div#stamped-main-widget .stamped-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div#stamped-main-widget .summary-overview {
    width: auto !important;
    margin-bottom: 0;
    flex-shrink: 1;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  div#stamped-main-widget .summary-overview .stamped-summary-caption-1,
  div#stamped-main-widget .summary-overview .stamped-summary-starrating {
    height: 28px;
    display: inline-flex;
  }
  div#stamped-main-widget .summary-overview .stamped-summary-text-1 {
    line-height: 28px;
    display: inline-block;
  }
  div#stamped-main-widget .summary-overview .stamped-summary-caption-2 {
    line-height: 20px;
  }
  div#stamped-main-widget .stamped-summary-actions {
    flex-grow: 1;
    float: none;
    width: 100%;
  }
  div#stamped-main-widget .stamped-header {
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 640px) {
  .stamped-filter-selects {
    display: flex;
  }
  .stamped-filter-selects .stamped-filter-select:last-of-type {
    margin-right: 0;
  }
  div#stamped-main-widget .stamped-summary-actions [role="button"] {
    max-width: 320px;
  }
  div.stamped-questions-search-text,
  div.stamped-reviews-search-text {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #stamped-main-widget .stamped-reviews-filter {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
  }
  div#stamped-main-widget .stamped-container .stamped-reviews-filter-label {
    width: 100%;
  }
  div#stamped-main-widget .stamped-reviews-search-text {
    width: 40%;
  }
  div#stamped-main-widget .stamped-filters-wrapper {
    width: 60%;
  }
  div#stamped-main-widget #stamped-reviews-search-input {
    width: calc(100% - 1rem);
  }
  div#stamped-main-widget .stamped-filter-select {
    margin-bottom: 0;
  }
  #stamped-main-widget #stamped-sort-select2 {
    max-width: 280px;
  }
}
