@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-white text-seaweed-700;
  }

  /* Logo */
  .main-logo {
    filter: drop-shadow(0 0 1px #49297e) drop-shadow(0 1px 0 blue) drop-shadow(3px 1px 0 #e10086)
      drop-shadow(0 0 3px rgba(0, 0, 0, 0.25));
  }

  /* System fonts */
  .system-sans {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  /* Handle anchor link offset - accounts for fixed header */
  .anchor {
    @apply invisible relative -top-32;
  }

  /* Remove number input controls on quantity */
  input.quantity__input::-webkit-outer-spin-button,
  input.quantity__input::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }

  /* Handle no-js visibility */
  .no-js:not(html) {
    @apply !hidden;
  }
  html.no-js .no-js:not(html) {
    @apply !block;
  }
  .no-js-inline {
    @apply !hidden;
  }
  html.no-js .no-js-inline {
    @apply !inline-block;
  }
  html.no-js .no-js-hidden,
  html.no-js .predictive-search {
    @apply !hidden;
  }

  /* Invisible pixel to track scroll for header shadow */
  #HeaderScrollPixel {
    @apply absolute w-px h-px bg-transparent top-8;
  }

  /* RTE content */
  .rte img {
    @apply !max-w-full;
  }
  .rte hr {
    @apply border-seaweed-400 pt-6 mt-6;
  }
  .rte h2 {
    @apply text-3xl font-serif tracking-tight leading-tight;
  }
  .rte h5 {
    /* this will need to be changed to h3 in many cases */
    @apply text-lg tracking-wide font-medium leading-tight;
  }
  .rte p {
    @apply mb-4 tracking-wide;
  }
  .rte ul {
    @apply pl-7;
  }
  .rte li {
    @apply before:content-['\2022'] before:mr-3 before:inline-block before:-ml-7 before:w-4 before:text-center leading-tight block mb-2;
  }

  /* animation correction for klaviyo override */
  .skeleton {
    @apply animate-skeleton;
  }
  @keyframes skeleton {
    50% {
      opacity: 0.5;
    }
  }

  /* Horizontal Scroll Box */
  horizontal-scroll-box .nav-hide {
    @apply opacity-0 pointer-events-none;
  }
}

@layer components {
  /* Base details / summary */
  summary {
    @apply cursor-pointer list-none relative;
  }
  summary::-webkit-details-marker {
    @apply hidden;
  }

  /* Cart + header +  menu drawers */
  menu-drawer .menu-scrim,
  cart-drawer .cart-scrim {
    @apply opacity-0 motion-safe:transition-opacity;
  }
  menu-drawer details.menu-opening .menu-scrim,
  cart-drawer.active .cart-scrim {
    @apply opacity-100;
  }

  cart-drawer .cart-drawer {
    @apply translate-x-full motion-safe:transition-transform;
  }
  cart-drawer.active .cart-drawer {
    @apply translate-x-0;
  }

  menu-drawer .menu-drawer,
  menu-drawer .menu-submenu {
    @apply motion-safe:transition-transform-visibility md:w-[40rem];
  }
  menu-drawer details.menu-opening > .menu-drawer,
  menu-drawer details[open].menu-opening > .menu-submenu {
    @apply translate-x-0 visible;
  }
  .js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
    @apply invisible;
  }
  .js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
    @apply visible opacity-100 scale-105;
  }

  /* Modal toggle */
  .no-js details[open] .modal__toggle {
    @apply absolute z-0;
  }
  .modal__toggle-close {
    @apply hidden;
  }
  .no-js details[open] svg.modal__toggle-close {
    @apply flex z-10;
  }
  .modal__toggle-open {
    @apply flex;
  }
  .no-js details[open] .modal__toggle-open {
    @apply hidden;
  }
  /* Text stroke */
  .text-stroke-0 {
    -webkit-text-stroke-width: 0px;
  }
  .text-stroke-1 {
    -webkit-text-stroke-width: 1px;
  }
  .text-stroke-2 {
    -webkit-text-stroke-width: 2px;
  }
  .text-stroke-3 {
    -webkit-text-stroke-width: 3px;
  }
  .sm:text-stroke-2 {
    @screen sm {
      -webkit-text-stroke-width: 2px;
    }
  }
  .text-stroke-retro-teal-light {
    -webkit-text-stroke-color: #99f0d5;
  }
  .text-stroke-retro-teal {
    -webkit-text-stroke-color: #00db96;
  }
  .text-stroke-retro-pink-light {
    -webkit-text-stroke-color: #f080c3;
  }
  .text-stroke-retro-pink {
    -webkit-text-stroke-color: #e10086;
  }

  /* Links */
  .link {
    @apply underline underline-offset-2 decoration-1 hover:text-seaweed-500 transition-colors;
  }
  .text-raised {
    @apply text-shadow-[-0.05em_-0.05em_1px_rgba(255,255,255,0.75),0.05em_0.05em_1px_rgba(0,0,0,0.75)];
  }

  /* Buttons */
  .button,
  .shopify-challenge__button {
    @apply relative cursor-pointer text-sm inline-flex items-center justify-center px-6 py-2 font-mono font-bold tracking-wide uppercase whitespace-nowrap text-center motion-safe:transition-all motion-safe:duration-75 active:ring-2 focus:ring-2 focus:ring-offset-2;
  }
  .button-xs {
    @apply px-3 py-0.5 text-xs;
  }
  .button-sm {
    @apply px-4 py-1 text-xs;
  }
  .button-md {
    @apply px-6 py-2 text-sm;
  }
  .button-lg {
    @apply px-7 py-3 text-base;
  }
  .button-xl {
    @apply px-8 py-4 text-lg;
  }
  .button-primary {
    @apply border-outset border-4 bg-retro-teal border-retro-teal-light border-b-retro-teal outline outline-retro-purple shadow-md shadow-retro-purple/50 text-white text-raised hover:border-inset hover:border-retro-teal-light hover:shadow-sm visited:bg-retro-teal visited:text-white link:bg-retro-teal link:text-white link:hover:bg-retro-teal active:bg-retro-teal active:text-white focus:bg-retro-teal focus:text-white focus:ring-2 focus:ring-[blue];
  }
  .button-secondary {
    @apply border-outset border-4 bg-[silver] border-[gainsboro] border-b-[lightgrey] outline outline-retro-purple shadow-md shadow-retro-purple/50 text-white text-raised hover:border-inset hover:border-[gainsboro] hover:shadow-sm visited:bg-[silver] visited:text-white link:bg-[silver] link:text-white link:hover:bg-[silver] active:bg-[silver] active:text-white focus:bg-[silver] focus:text-white focus:ring-2 focus:ring-[blue];
  }
  .button-tertiary {
    @apply border-outset border-4 bg-retro-pink border-retro-pink-light border-b-retro-pink outline outline-retro-purple shadow-md shadow-retro-purple/50 text-white text-raised hover:border-inset hover:border-retro-pink-light hover:shadow-sm visited:bg-retro-pink visited:text-white link:bg-retro-pink link:text-white link:hover:bg-retro-pink active:bg-retro-pink active:text-white focus:bg-retro-pink focus:text-white focus:ring-2 focus:ring-[blue];
  }
  .button-tertiary .text {
    @apply shadow-white;
  }
  .button-white {
    @apply bg-white border-white text-seaweed-800 hover:bg-seafoam-100 hover:border-seafoam-100 hover:text-seaweed-800 visited:bg-white visited:text-seaweed-700 link:bg-white link:text-seaweed-800 active:bg-white active:text-seaweed-800 focus:bg-white focus:text-seaweed-800;
  }
  .button-black {
    @apply bg-black border-black text-white hover:bg-seaweed-500 hover:border-seaweed-500 hover:text-white visited:bg-black visited:text-white link:bg-black link:text-white link:hover:bg-seaweed-500 active:bg-black active:text-white focus:bg-seaweed-800 focus:text-white;
  }
  .button-neon {
    @apply border-outset border-4 bg-neon-green border-white/50 border-b-neon-green outline outline-retro-purple shadow-md shadow-retro-purple/50 text-black text-raised hover:border-inset hover:border-retro-teal-light hover:shadow-sm visited:bg-neon-green visited:text-black link:bg-neon-green link:text-black link:hover:bg-neon-green active:bg-neon-green active:text-black focus:bg-neon-green focus:text-black focus:ring-2 focus:ring-[blue];
  }
  .button-icon.button-xs svg {
    @apply w-3 h-3 stroke-2;
  }
  .button-icon.button-sm svg {
    @apply w-4 h-4 stroke-2;
  }
  .button-icon svg {
    @apply w-5 h-5 stroke-1/50;
  }
  .button-icon.button-lg svg {
    @apply w-6 h-6 stroke-1/75;
  }
  .button-icon.button-xl svg {
    @apply w-7 h-7 stroke-1/75;
  }
  .button-icon-left.button-xs svg,
  .button-icon-left.button-sm svg {
    @apply mr-1;
  }
  .button-icon-right.button-xs svg,
  .button-icon-right.button-sm svg {
    @apply ml-1;
  }
  .button-icon-left svg {
    @apply mr-2;
  }
  .button-icon-right svg {
    @apply ml-2;
  }
  .button-icon-left.button-lg svg,
  .button-icon-left.button-xl svg {
    @apply mr-3;
  }
  .button-icon-right.button-lg svg,
  .button-icon-right.button-xl svg {
    @apply ml-3;
  }
  .button-group .button {
    @apply rounded-none relative;
  }
  .button-group .button:focus {
    @apply z-10;
  }
  .button-group .button:first-of-type {
    @apply rounded-l-sm;
  }
  .button-group .button:last-of-type {
    @apply rounded-r-sm;
  }
  .button-group .button:not(:first-of-type) {
    @apply -ml-px;
  }

  /* Inputs */
  .field {
    @apply block w-full tracking-wide;
  }
  .field .label {
    @apply font-medium mb-1;
  }
  .field .input {
    @apply block w-full;
  }
  .input {
    @apply cursor-text bg-white border border-seaweed-400 rounded-md px-4 tracking-wide focus:ring-1;
  }
  .input-xs {
    @apply px-1 py-0.5 text-xs;
  }
  .input-sm {
    @apply px-2 py-1 text-sm leading-4;
  }
  .input-lg {
    @apply px-7 py-3 text-lg rounded-lg;
  }
  .input-xl {
    @apply px-8 py-4 text-xl rounded-lg;
  }
  select.input {
    @apply cursor-pointer pr-8;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%231d4d41' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  }
  select.input-sm {
    @apply pr-5 bg-[right_0.125rem_center] xs:bg-[right_0.25rem_center];
  }
  [type="checkbox"] {
    @apply cursor-pointer p-0 w-4 h-4 text-seaweed-700 bg-white rounded-sm border-seaweed-400 focus:ring-seaweed-300 focus:ring-2;
  }
  [type="checkbox"]:checked {
    @apply bg-seaweed-700;
  }
  .input:focus {
    --tw-ring-color: #dbe5d3;
    border-color: #dbe5d3;
  }

  /* Badge */
  .badge {
    @apply inline-block px-1 py-0.5 font-bold tracking-wide bg-seafoam-300 text-seaweed-700;
  }
  .badge-sm {
    @apply text-sm py-0.5;
  }

  /* Borders */
  .border-ridge {
    border-style: ridge;
  }
  .border-inset {
    border-style: inset;
  }
  .border-outset {
    border-style: outset;
  }

  /* Predictive search */
  [type="search"]::-webkit-search-cancel-button,
  #Search-In-Modal::-webkit-search-cancel-button {
    @apply appearance-none h-5 w-[60px] text-wave-400;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='60px'><text x='6' y='15' fill='%23818181' font-size='14' font-family='neuzeit-grotesk, sans-serif' style='text-transform: uppercase; letter-spacing: 0.25px;'>Clear</text></svg>");
  }
  predictive-search[open] .predictive-search,
  predictive-search[loading] .predictive-search {
    @apply max-h-[calc(100vh-72px)] ml-4;
  }
  predictive-search:not([loading]) .loading-spinner,
  predictive-search:not([loading]) .predictive-search__loading-state,
  predictive-search:not([loading]) .predictive-search-status__loading {
    @apply hidden;
  }
  predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
  predictive-search[loading] .predictive-search__results-list:first-child {
    @apply hidden;
  }
  predictive-search [role="option"][aria-selected="true"] {
    @apply ring;
  }

  /* Tab controller */
  tab-controller [role="tabpanel"] {
    @apply hidden;
  }
  tab-controller [role="tabpanel"][aria-expanded="true"] {
    @apply block;
  }

  /* Progress bar */
  .progress-bar {
    @apply appearance-none h-3 w-full rounded-full border-2 border-outset border-white shadow-[0_0_0_1px_rgba(0,0,0,1)] shadow-[blue];
  }
  .progress-bar::-webkit-progress-bar {
    @apply bg-retro-blue/50 rounded-full;
  }
  .progress-bar::-webkit-progress-value {
    @apply bg-[deepskyblue] rounded-l-full;
  }

  /* Modal dialog (popup modal) */
  modal-dialog {
    @apply fixed inset-0 bg-seaweed-700/50 z-50 p-6 invisible opacity-0 motion-safe:transition-[visibility_0s,opacity_200ms];
  }
  modal-dialog[open] {
    @apply visible opacity-100;
  }
  modal-dialog [role="dialog"] {
    @apply absolute top-1/2 left-6 right-6 -translate-y-1/2 bg-white rounded-md px-6 sm:px-8 py-10 shadow-xl shadow-seaweed-800/20 max-w-md mx-auto scale-0 origin-center motion-safe:transition-transform duration-200 delay-200;
  }
  modal-dialog[open] [role="dialog"] {
    @apply scale-100;
  }
  modal-dialog button[id^="ModalClose-"] {
    @apply absolute top-2 right-2 text-seaweed-600;
  }

  /* Deferred media (video poster) */
  deferred-media {
    @apply block;
  }
  .deferred-media__poster {
    @apply bg-transparent border-0 cursor-pointer m-0 p-0 h-full w-full;
  }
  .deferred-media__poster img {
    @apply w-full h-full;
  }
  .deferred-media {
    @apply overflow-hidden;
  }
  .deferred-media:not([loaded]) template {
    @apply -z-10;
  }
  .deferred-media[loaded] > .deferred-media__poster {
    @apply hidden;
  }
  .deferred-media__poster:focus {
    @apply outline-offset-2;
  }

  /* Glide.js slider */
  .glide {
    @apply relative block w-full box-border;
  }
  .glide * {
    @apply box-border;
  }
  .glide__track {
    @apply overflow-hidden;
  }
  .glide__slides {
    @apply relative w-full list-none overflow-hidden p-0 whitespace-nowrap flex flex-nowrap backface-hidden will-change-transform touch-pan-y;
    transform-style: preserve-3d;
  }
  .glide__slides--dragging {
    @apply select-none;
  }
  .glide__slide {
    @apply w-full shrink-0 whitespace-normal select-none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  .glide__slide a {
    @apply select-none;
    -webkit-user-drag: none;
  }
  .glide__arrows,
  .glide__bullets {
    @apply select-none;
    -webkit-touch-callout: none;
  }
  .glide__bullet {
    @apply opacity-50;
  }
  .glide__bullet--active {
    @apply opacity-100;
  }
  .glide__bullet img {
    @apply border border-transparent motion-safe:transition-colors;
  }
  .glide__bullet--active img {
    @apply opacity-100 border-seaweed-500;
  }
  .glide.arrows-on-hover .glide__arrows {
    @apply invisible;
  }
  .glide.arrows-on-hover:hover .glide__arrows {
    @apply visible;
  }
  .glide__arrow {
    @apply absolute opacity-80 hover:opacity-100 motion-safe:transition-opacity;
  }
  .glide__arrow--left {
    @apply left-2;
  }
  .glide__arrow--right {
    @apply right-2;
  }

  /* Comparison matrix */
  table.comparison-matrix {
    @apply bg-wave-200 border-collapse min-w-[300px] sm:min-w-[540px];
  }
  table.comparison-matrix th,
  table.comparison-matrix td {
    @apply border border-seaweed-400 px-2 sm:px-3 py-2;
  }
  table.comparison-matrix th span {
    @apply font-bold uppercase tracking-wide;
  }
  table.comparison-matrix th small {
    @apply block tracking-tight sm:tracking-normal font-regular whitespace-nowrap text-xs;
  }
  table.comparison-matrix td {
    @apply text-center;
  }
  table.comparison-matrix .row-label {
    @apply px-1 sm:px-3 max-w-[220px] text-right text-sm sm:text-base leading-tight tracking-tight xs:tracking-normal font-regular;
  }
  table.comparison-matrix .col-label {
    @apply px-0.5 sm:px-3 text-center;
  }
  table.comparison-matrix td.text {
    @apply bg-white px-0.5 sm:px-3 text-sm sm:text-base tracking-tight sm:tracking-normal;
  }
  table.comparison-matrix td.checked {
    @apply bg-seafoam-100 text-lg font-bold;
  }
  table.comparison-matrix td.unchecked {
    @apply bg-white/50;
  }

  /* Recover password */
  #recover,
  #recover + div {
    @apply hidden;
  }
  #recover:target {
    @apply block;
  }
  #recover:target + div {
    @apply block;
  }
  #recover:target ~ #login,
  #recover:target ~ #login + div {
    @apply hidden;
  }
  #recover,
  #login {
    @apply scroll-mt-40;
  }

  /* Addresses */
  .addresses [aria-expanded="false"] ~ div[id] {
    @apply hidden;
  }
  .addresses [aria-expanded="true"] ~ div[id] {
    @apply block;
  }

  /* Padding adjustment for PDP footer to accommodate sticky ATC */
  .pdp .footer-main {
    @apply pb-20;
  }
}

@layer utilities {
  /* Text highlight (used in search results) */
  strong.highlight {
    @apply font-regular bg-seafoam-300;
  }

  /* Fancy Text */
  .fancy-underline {
    @apply relative whitespace-nowrap;
  }
  .fancy-underline:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(0.3125em * -0.625);
    height: 0.3125em;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
  .gradient-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(35deg, hsl(310, 100%, 65%), hsl(160, 100%, 65%));
  }

  /* Icon lists */
  .icon-list {
    @apply pl-7;
  }
  .icon-list li {
    @apply before:inline-block before:-ml-7 before:w-4 before:text-center leading-tight;
  }
  .icon-list.\!pl-5 li {
    @apply before:-ml-5;
  }
  .icon-list.bullet.\!pl-5 li {
    @apply before:mr-1;
  }
  .icon-list.check li {
    @apply before:content-['\2713'] before:font-bold before:mr-2;
  }
  .icon-list.bullet li {
    @apply before:content-['\2022'] before:mr-3;
  }
  .icon-list.sparkle li {
    @apply before:content-['\2728'] before:font-bold before:mr-2 before:scale-125;
  }
  .icon-list.star li {
    @apply before:content-starGif before:font-bold before:mr-2 before:scale-125;
  }
  .icon-list.icon-list-sm {
    @apply pl-4;
  }
  .icon-list.icon-list-sm li {
    @apply before:text-[80%] before:-ml-4 before:subpixel-antialiased;
  }

  /* fancy scrollbars */
  .scrollbar {
    @apply pb-2;
  }
  .scrollbar::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-seafoam-200 rounded-full;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-seafoam-400 rounded-full;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-seafoam-500;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    @apply w-0 h-0 bg-transparent;
  }
}

/* this will always be included in your compiled CSS */

/* Stamped */
.stamped-badge,
.stamped-badge .stamped-starrating {
  @apply leading-4;
}
.stamped-badge .stamped-fa-star {
  @apply -mr-0.5 leading-4;
}
.stamped-badge .stamped-fa-star:before {
  @apply text-base leading-4;
}
.stamped-badge .stamped-badge-caption {
  @apply text-xs underline ml-0.5;
}
.compact .stamped-badge .stamped-badge-caption[data-reviews][data-label] > span {
  @apply !hidden;
}
.compact .stamped-badge,
.compact .stamped-badge .stamped-starrating {
  @apply leading-3;
}
.compact .stamped-badge .stamped-fa-star {
  @apply leading-3;
}
.compact .stamped-badge .stamped-fa-star:before {
  @apply text-sm leading-3;
}
.stamped-proxy-write div#stamped-reviews-filter,
.stamped-proxy-write #stamped-reviews-tab {
  @apply hidden;
}
.stamped-proxy-write h2.stamped-proxy-write-title {
  @apply font-serif tracking-tight text-3xl text-center;
}
.stamped-proxy-write h2.stamped-proxy-write-title:before {
  @apply block font-sans text-lg font-medium text-center tracking-wide mb-0.5;
}
.stamped-proxy-write .stamped-form-actions {
  @apply flex items-center;
}
.stamped-proxy-write .stamped-file-uploader {
  @apply ml-auto;
}
.stamped-proxy-write .stamped-file-uploader-btn {
  @apply !border-seaweed-700 !rounded-md text-seaweed-800 !py-[11px] !text-base font-bold;
}
.stamped-proxy-write #stamped-button-submit {
  @apply bg-seaweed-700;
}

/* Catch pay */
#catch-callout-cart {
  @apply justify-center md:justify-end mt-2;
}
#catch-callout-minicart {
  @apply my-2 justify-center;
}
#catch-claim-button {
  @apply h-auto rounded-[5px] leading-6;
}

/* Workable job listing */
.whr-date {
  @apply hidden;
}
ul.whr-items {
  @apply p-0 list-none;
}
ul.whr-items .whr-item {
  @apply py-6 px-6 sm:px-8 leading-normal mx-0 mt-0 mb-6 border border-seaweed-400 rounded-md;
}
ul.whr-items .whr-item h3 {
  @apply m-0 relative;
}
ul.whr-items .whr-item h3::before {
  @apply absolute top-1/2 right-2 w-4 h-0.5 bg-seaweed-500 block content-[''] rotate-45;
}
ul.whr-items .whr-item h3::after {
  @apply absolute top-1/2 -right-0.5 w-4 h-0.5 bg-seaweed-500 block content-[''] -rotate-45;
}
ul.whr-items .whr-item h3 a {
  @apply text-lg border-0 block w-full font-book tracking-wide leading-snug pr-6;
}
ul.whr-items .whr-item h3 a::before {
  @apply content-none;
}
ul.whr-items .whr-item .whr-info {
  @apply m-0 list-none max-h-0 p-0 overflow-hidden transition-all;
}
ul.whr-items .whr-item .whr-more-detail {
  @apply mb-0;
}
ul.whr-items .whr-item.active .whr-info {
  @apply max-h-[200px] pt-8 px-0 pb-2;
}
ul.whr-items .whr-item.active h3::before {
  @apply -rotate-45;
}
ul.whr-items .whr-item.active h3::after {
  @apply rotate-45;
}

/* ReCharge */
#rc_login {
  @apply mb-0;
}
#rc_login h5 {
  @apply mb-2 tracking-wide;
}
#rc_login a {
  @apply relative block items-center justify-center border px-6 py-2 rounded-md font-bold tracking-widest uppercase whitespace-nowrap text-center motion-safe:transition-colors bg-white border-seaweed-400 hover:bg-seafoam-100 hover:border-seaweed-500 text-white before:cursor-pointer before:content-['Manage_subscription'] before:absolute before:inset-0 before:text-seaweed-700 before:flex before:items-center before:justify-center;
}

.recharge-gifting-widget {
  @apply col-span-12;
}
.recharge-gifting-widget [multiple],
.recharge-gifting-widget [type="date"],
.recharge-gifting-widget [type="datetime-local"],
.recharge-gifting-widget [type="email"],
.recharge-gifting-widget [type="month"],
.recharge-gifting-widget [type="number"],
.recharge-gifting-widget [type="password"],
.recharge-gifting-widget [type="search"],
.recharge-gifting-widget [type="tel"],
.recharge-gifting-widget [type="text"],
.recharge-gifting-widget [type="time"],
.recharge-gifting-widget [type="url"],
.recharge-gifting-widget [type="week"],
.recharge-gifting-widget select,
.recharge-gifting-widget textarea {
  @apply cursor-text bg-white border border-seaweed-400 rounded-md px-4 tracking-wide focus:ring-1;
}
.recharge-gifting-widget form {
  @apply mb-4;
}
.recharge-gifting-widget fieldset {
  @apply pb-0;
}
.recharge-gifting-widget legend {
  @apply sr-only;
}
.recharge-gifting-widget label {
  @apply font-medium mb-1 leading-tight;
}
.recharge-gifting-widget .field {
  @apply flex flex-col-reverse;
}
.recharge-gifting-widget .rc_gift_message_label_count_container {
  @apply -mb-4;
}
.recharge-gifting-widget .rc_gifting_recipient_block_name {
  @apply flex-wrap sm:flex-nowrap;
}

/* Klaviyo - Footer Form */
.klaviyo-email-form form.klaviyo-form input {
  @apply cursor-text border !border-seaweed-400 !rounded-md !pl-11;
}
.klaviyo-email-form form.klaviyo-form input[type="email"] {
  @apply !text-sm;
}
.klaviyo-email-form button,
.klaviyo-phone-form [data-testid="form-row"] > div > button {
  @apply absolute cursor-pointer right-0 !bg-no-repeat !bg-center !text-[1px] w-10 !h-10 !p-0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%231d4d41' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cline x1='15' y1='16' x2='19' y2='12'%3E%3C/line%3E%3Cline x1='15' y1='8' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E") !important;
  background-size: 75% !important;
}
.klaviyo-phone-form button[aria-label="Search Countries"] {
  @apply !w-12;
}
.klaviyo-phone-form button[aria-label="Search Countries"] svg {
  @apply w-4 h-4;
}

/* Postscript - Back in Stock PDP button */
#ps__bis_container_root {
  @apply !z-10;
}
#ps__bis_container_root #ps-bis-widget__button.ps-bis-button {
  @apply button button-tertiary button-sm block whitespace-normal leading-tight;
}
