@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* TEMP: class for system sans serif, overrides missing symbols, remove with font license */
  .system-sans {
    font-family: sans-serif;
    transform: scale(0.9);
    display: inline-block;
  }
  .system-serif {
    font-family: serif;
  }

  /* Handle no-js visibility */
  .no-js:not(html) {
    @apply hidden;
  }
  html.no-js .no-js:not(html) {
    @apply block;
  }
  .no-js-inline {
    @apply hidden;
  }
  html.no-js .no-js-inline {
    @apply inline-block;
  }
  html.no-js .no-js-hidden {
    @apply hidden;
  }

  /* Invisible pixel to track scroll for header shadow */
  #HeaderScrollPixel {
    @apply absolute w-px h-px bg-transparent top-24;
  }
}

@layer components {
  /* Cart drawer */
  cart-drawer .cart-drawer__overlay {
    @apply opacity-0 motion-safe:transition-opacity;
  }
  cart-drawer .drawer__inner {
    @apply translate-x-full motion-safe:transition-transform;
  }
  cart-drawer.active .cart-drawer__overlay {
    @apply opacity-100;
  }
  cart-drawer.active .drawer__inner {
    @apply translate-x-0;
  }

  /* Buttons */
  .button {
    @apply cursor-pointer inline-flex items-center justify-center border px-6 py-2 rounded-sm font-bold tracking-widest uppercase whitespace-nowrap text-center transition-colors motion-reduce:transition-none;
  }
  .button-xs {
    @apply px-3 py-0.5 text-xs;
  }
  .button-sm {
    @apply px-4 py-1 text-sm;
  }
  .button-lg {
    @apply px-7 py-3 text-lg;
  }
  .button-xl {
    @apply px-8 py-4 text-xl;
  }
  .button-primary {
    @apply bg-seaweed-700 border-seaweed-700 text-white hover:bg-seaweed-500 hover:border-seaweed-500;
  }
  .button-secondary {
    @apply bg-white border-seaweed-400 hover:bg-seafoam-100 hover:border-seaweed-500;
  }
  .button-tertiary {
    @apply bg-seaweed-200 border-seaweed-200 hover:border-seaweed-400;
  }
  .button-white {
    @apply bg-white border-white hover:bg-seafoam-100 hover:border-seafoam-100;
  }
  .button-icon.button-xs svg {
    @apply w-3 h-3 stroke-2;
  }
  .button-icon.button-sm svg {
    @apply w-4 h-4 stroke-2;
  }
  .button-icon svg {
    @apply w-5 h-5 stroke-1/50;
  }
  .button-icon.button-lg svg {
    @apply w-6 h-6 stroke-1/75;
  }
  .button-icon.button-xl svg {
    @apply w-7 h-7 stroke-1/75;
  }
  .button-icon-left.button-xs svg,
  .button-icon-left.button-sm svg {
    @apply mr-1;
  }
  .button-icon-right.button-xs svg,
  .button-icon-right.button-sm svg {
    @apply ml-1;
  }
  .button-icon-left svg {
    @apply mr-2;
  }
  .button-icon-right svg {
    @apply ml-2;
  }
  .button-icon-left.button-lg svg,
  .button-icon-left.button-xl svg {
    @apply mr-3;
  }
  .button-icon-right.button-lg svg,
  .button-icon-right.button-xl svg {
    @apply ml-3;
  }
  .button-group .button {
    @apply rounded-none relative;
  }
  .button-group .button:focus {
    @apply z-10;
  }
  .button-group .button:first-of-type {
    @apply rounded-l-sm;
  }
  .button-group .button:last-of-type {
    @apply rounded-r-sm;
  }
  .button-group .button:not(:first-of-type) {
    @apply -ml-px;
  }

  /* Inputs */
  .input {
    @apply cursor-text bg-white border border-seaweed-400 rounded-sm px-4 tracking-wide focus:ring-1;
  }
  .input-xs {
    @apply px-3 py-0.5 text-xs;
  }
  .input-sm {
    @apply px-4 py-1 text-sm leading-4;
  }
  .input-lg {
    @apply px-7 py-3 text-lg;
  }
  .input-xl {
    @apply px-8 py-4 text-xl;
  }
  select.input-sm {
    @apply cursor-pointer pr-5 bg-[right_0.125rem_center] xs:bg-[right_0.25rem_center];
  }
  [type="checkbox"] {
    @apply cursor-pointer p-0;
  }
  [type="checkbox"]:checked {
    @apply bg-seaweed-700;
  }

  /* Badge */
  .badge {
    @apply inline-block px-2 py-1 uppercase font-black tracking-widest bg-coral-600 text-white;
  }

  /* Predictive search */
  predictive-search[open] .predictive-search,
  predictive-search[loading] .predictive-search {
    @apply max-h-[calc(100vh-96px)];
  }
  predictive-search:not([loading]) .loading-spinner,
  predictive-search:not([loading]) .predictive-search__loading-state,
  predictive-search:not([loading]) .predictive-search-status__loading {
    @apply hidden;
  }
  predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
  predictive-search[loading] .predictive-search__results-list:first-child {
    @apply hidden;
  }

  /* Tab controller */
  tab-controller [role="tabpanel"] {
    @apply hidden;
  }
  tab-controller [role="tabpanel"][aria-expanded="true"] {
    @apply block;
  }

  /* Progress bar */
  .progress-bar {
    @apply appearance-none h-2 w-full border border-white shadow-[0_0_0_1px_rgba(0,0,0,1)] shadow-seaweed-400;
  }
  .progress-bar::-webkit-progress-bar {
    @apply bg-seafoam-300;
  }
  .progress-bar::-webkit-progress-value {
    @apply bg-seaweed-700;
  }

  /* Slider */
  slider-component {
    @apply relative block w-full;
    --swiffy-slider-snap-align: center;
    --swiffy-slider-item-width: 100%;
    --swiffy-slider-item-gap: theme(spacing.4);
    --swiffy-slider-item-reveal: 0rem;
    --swiffy-slider-item-count: 1;
    --swiffy-slider-track-opacity: 0.1;
    --swiffy-slider-indicator-outside-size: theme(spacing.8);
    --swiffy-slider-animation-duration: 0.75s;
    --swiffy-slider-animation-delay: 0s;
    --swiffy-slider-animation-timing: ease-in-out;
  }
  slider-component ::-webkit-scrollbar {
    @apply h-0;
  }
  slider-component ::-webkit-scrollbar-track {
    @apply bg-seafoam-200 rounded-2xl;
  }
  slider-component ::-webkit-scrollbar-thumb {
    @apply bg-seaweed-700 rounded-2xl;
  }
  slider-component ::-webkit-scrollbar-thumb:hover {
    @apply bg-seaweed-600;
  }
  .slider-container {
    @apply overflow-x-auto scroll-smooth grid items-center h-full grid-flow-col list-none m-0 bg-clip-padding;
    --swiffy-slider-item-gap-totalwidth: calc(var(--swiffy-slider-item-gap) * (var(--swiffy-slider-item-count) - 1));
    --swiffy-slider-item-width: calc((100% - var(--swiffy-slider-item-reveal) - var(--swiffy-slider-item-gap-totalwidth)) / var(--swiffy-slider-item-count));
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    grid: auto/auto-flow -webkit-max-content;
    grid: auto/auto-flow max-content;
    grid-auto-rows: 100%;
    grid-auto-columns: var(--swiffy-slider-item-width);
    grid-gap: var(--swiffy-slider-item-gap);
    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, var(--swiffy-slider-track-opacity));
  }
  .slider-container > * {
    @apply relative w-full h-full;
    scroll-snap-align: var(--swiffy-slider-snap-align);
  }
  .slider-item-helper .slider-container > * {
    @apply bg-cover bg-wave-100 bg-center flex justify-center items-center;
  }
  .slider-nav-scrollbar .slider-container {
    @apply pb-4;
  }
  .slider-nav-scrollbar {
    --swiffy-slider-track-height: theme(spacing.2);
  }
  .slider-nav-scrollbar .slider-container {
    scrollbar-width: thin;
  }
  .slider-nav-nodelay .slider-container {
    @apply scroll-auto;
  }
  .slider-indicators {
    @apply absolute invisible right-8 bottom-0 left-8 flex justify-center p-0 mb-4 list-none;
  }
  .slider-indicators-visible .slider-indicators {
    @apply visible;
  }
  .slider-nav-scrollbar .slider-indicators {
    margin-bottom: calc(1rem + var(--swiffy-slider-track-height));
  }
  .slider-indicators > .active {
    @apply opacity-100;
  }
  .slider.slider-indicators-outside .slider-nav {
    margin-bottom: var(--swiffy-slider-indicator-outside-size);
  }
  .slider.slider-indicators-outside {
    padding-bottom: var(--swiffy-slider-indicator-outside-size);
  }
  .slider.slider-indicators-outside .slider-indicators,
  .slider.slider-indicators-outside.slider-indicators {
    @apply mb-0;
  }
  .slider-indicators > * {
    @apply box-content flex-initial w-8 h-1 p-0 cursor-pointer bg-white bg-clip-padding opacity-50 transition-opacity border-8 border-transparent;
  }
  .slider-indicators-square .slider-indicators > *,
  .slider-indicators-square.slider-indicators > * {
    @apply w-2 h-2 border-8 border-transparent;
  }
  .slider-indicators-round .slider-indicators > *,
  .slider-indicators-round.slider-indicators > * {
    @apply w-2 h-2 border-8 border-transparent rounded-full;
  }
  .slider-indicators-highlight .slider-indicators > .active,
  .slider-indicators-highlight.slider-indicators > .active {
    @apply border-4 border-transparent p-px;
  }
  .slider-nav {
    @apply absolute inset-y-0 bg-transparent cursor-pointer p-0 invisible opacity-80 transition-opacity flex items-center py-0 px-2;
    transition: visibility 0.1s, opacity 0.2s linear;
    margin-bottom: var(--swiffy-slider-track-height);
  }
  .slider:hover .slider-nav {
    @apply visible;
  }
  .slider.slider-nav-autohide.slider-item-first-visible .slider-nav:not(.slider-nav-next) {
    @apply invisible;
  }
  .slider.slider-nav-autohide.slider-item-last-visible .slider-nav.slider-nav-next {
    @apply invisible;
  }
  .slider .slider-nav:hover {
    @apply opacity-100;
  }
  .slider-nav-next {
    @apply right-0;
  }
  .slider-nav-visible .slider-nav {
    @apply visible;
  }
  .slider-nav-dark .slider-nav {
    @apply opacity-60;
  }
  .slider-indicators-dark .slider-indicators > *,
  .slider-indicators-dark.slider-indicators > * {
    @apply bg-seaweed-700;
  }
  .slider-item-snapstart {
    --swiffy-slider-snap-align: start;
  }
  .slider-item-nosnap {
    --swiffy-slider-snap-align: unset;
  }
  .slider-item-nogap {
    --swiffy-slider-item-gap: 0rem;
  }
  .slider-nav-mousedrag .slider-container {
    @apply cursor-grab;
  }
  .slider-nav-mousedrag .slider-container.dragging {
    -ms-scroll-snap-type: unset;
    scroll-snap-type: unset;
    scroll-behavior: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .slider-item-reveal {
    --swiffy-slider-item-reveal: 8rem;
  }

  @media (hover: hover) {
    .slider-nav-mousedrag .slider-container::after {
      @apply content-[""] absolute w-full h-full;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .slider-nav-animation.slider-nav-animation-fast {
      --swiffy-slider-animation-duration: 0.25s;
    }
    .slider-nav-animation.slider-nav-animation-slow {
      --swiffy-slider-animation-duration: 1.25s;
    }
    .slider-nav-animation .slider-container > * > * {
      transition: opacity var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing),
        transform var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing);
      transition-delay: var(--swiffy-slider-animation-delay);
    }
    .slider-nav-animation .slider-container .slide-visible > * {
      transition: opacity var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing),
        transform var(--swiffy-slider-animation-duration) var(--swiffy-slider-animation-timing);
      transition-delay: var(--swiffy-slider-animation-delay);
    }
    .slider-nav-animation.slider-nav-animation-fadein .slider-container > * > * {
      opacity: 0.5;
    }
    .slider-nav-animation.slider-nav-animation-scale .slider-container > * > * {
      transform: scale(0.9);
    }
    .slider-nav-animation.slider-nav-animation-appear .slider-container > * > * {
      opacity: 0.3;
      transform: scale(0.9);
    }
    .slider-nav-animation.slider-nav-animation-scaleup .slider-container > * > * {
      transform: scale(0.25);
    }
    .slider-nav-animation.slider-nav-animation-zoomout .slider-container > * {
      overflow: hidden;
    }
    .slider-nav-animation.slider-nav-animation-zoomout .slider-container > * > * {
      transform: scale(1.3);
    }
    .slider-nav-animation.slider-nav-animation-turn .slider-container > * > * {
      transform: rotateY(70deg);
    }
    .slider-nav-animation.slider-nav-animation-slideup .slider-container > * > * {
      transform: translateY(60%) scale(0.99);
    }
    .slider-nav-animation.slider-nav-animation-slideup .slider-container {
      overflow-y: hidden;
    }
    .slider-nav-animation .slider-container > .slide-visible > * {
      opacity: 1;
      transform: none;
    }
  }
  @media (max-width: 62rem) {
    .slider {
      --swiffy-slider-track-height: 0rem;
    }
    .slider-indicators {
      margin-bottom: 0.5rem;
      display: flex;
    }
    .slider-indicators > * {
      width: 1rem;
      height: 0.125rem;
      border-width: 0.25rem;
    }
  }
  @media (hover: none) {
    .slider.slider-nav-touch .slider-nav {
      visibility: visible;
    }
    .slider-item-nosnap-touch {
      --swiffy-slider-snap-align: unset;
    }
  }
}

@layer utilities {
  /* Text highlight (used in search results) */
  strong.highlight {
    @apply font-regular bg-seafoam-300;
  }

  .icon-list-check {
    @apply pl-6;
  }
  .icon-list-check li {
    @apply before:content-['\2713'] before:inline-block before:mr-2 before:-ml-6 before:w-4;
  }
}
